<web-app>
	<servlet>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>RegisterMembershipServlet</servlet-name>
    	<servlet-class>servlets.RegisterMembershipServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>RegisterMembershipServlet</servlet-name>
    	<url-pattern>/RegisterMembershipServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>DeleteMemberRecordServlet</servlet-name>
    	<servlet-class>servlets.DeleteMemberRecordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>DeleteMemberRecordServlet</servlet-name>
    	<url-pattern>/DeleteMemberRecordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>AddBookServlet</servlet-name>
    	<servlet-class>servlets.AddBookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>AddBookServlet</servlet-name>
    	<url-pattern>/AddBookServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>DeleteBookRecordServlet</servlet-name>
    	<servlet-class>servlets.DeleteBookRecordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>DeleteBookRecordServlet</servlet-name>
    	<url-pattern>/DeleteBookRecordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>CheckMemberIdIfExistServlet</servlet-name>
    	<servlet-class>servlets.CheckMemberIdIfExistServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>CheckMemberIdIfExistServlet</servlet-name>
    	<url-pattern>/CheckMemberIdIfExistServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>CheckCurrentRentCountServlet</servlet-name>
    	<servlet-class>servlets.CheckCurrentRentCountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>CheckCurrentRentCountServlet</servlet-name>
    	<url-pattern>/CheckCurrentRentCountServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>RentBookServlet</servlet-name>
    	<servlet-class>servlets.RentBookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>RentBookServlet</servlet-name>
    	<url-pattern>/RentBookServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>MemberRentListServlet</servlet-name>
    	<servlet-class>servlets.MemberRentListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>MemberRentListServlet</servlet-name>
    	<url-pattern>/MemberRentListServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>ReturnBookServlet</servlet-name>
    	<servlet-class>servlets.ReturnBookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>ReturnBookServlet</servlet-name>
    	<url-pattern>/ReturnBookServlet</url-pattern>
	</servlet-mapping>

	<servlet>
    	<servlet-name>ReturnBooksServlet</servlet-name>
    	<servlet-class>servlets.ReturnBooksServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>ReturnBooksServlet</servlet-name>
    	<url-pattern>/ReturnBooksServlet</url-pattern>
	</servlet-mapping>
</web-app>