h1, h2, h3, h4, p {
	margin: 0;
	padding: 0 0 30px 0;
}

input[readonly] { cursor: default; }

/*------- Login Start Here  ---------*/

.page-login {
	width: 100%;
	height: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 60px;
	text-align: center;
}

.page-login .container {
	margin: auto;
	width: 25%;
}

form#login-form {
	border-radius: 30px;
	background-color: #fff;
	padding: 100px 0 100px 0;
	width: 100%;
}

form#login-form .row {
	margin: auto; /* Auto center according to screen size */
	width: 50%;
	border-radius: 10px;
	border: 2px solid #232323;
	background-color: #fff;
	text-align: left;
}

form#login-form label {
	margin-left: 5px;
	border: none;
	padding: 10px; /* TopRightBottomLeft */
	float: left;
}

input#username,
input#password { border-radius: 0; }

#username, #username:focus,
#password, #password:focus {
	outline: none;
	border: none;
	background: transparent;
	padding: 10px 10px 10px 5px; /* Top Right Bottom Left */
	width: 100%;
}

form#login-form .txtbox {
	margin-left: 40px;
	margin-right: 5px;
}

/*------- Login End Here  ---------*/

/*------- Side Navbar Start Here  ---------*/

.sidebar {
	margin: 0;
	border: none;
	border-right: 5px solid #fb0;
	position: fixed;
	background-color: #232323;
	width: 250px;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 20px 0px 20px 0px; /* Top Right Bottom Left */
}

.sidebar header div { text-align: center; }

.sidebar div.logo img { height: 80px; }

.sidebar header div.siteboard {
	font-size: 25px;
	font-weight: bold;
	padding: 20px 0px 20px 0px; /* Top Right Bottom Left */
	color: white
}

.sidebar header span.logo {
	padding: 10px; /* TopRightBottomLeft */
}

.sidebar ul li {
	cursor: pointer;
	list-style: none;
	list-style-type:none;
	display: flex;
	flex-direction: row;
	line-height: 60px;
	width: 100%;
	color: white;
}

.sidebar ul li:hover { background-color: #606060; }

.sidebar ul li span { font-size: 18px; }

.sidebar ul li span.icon {
	width: 50px;
	text-align: center;
}

/*------- Side Navbar End Here  ---------*/

/*------- Page Content Start Here  ---------*/

.site-space {
	margin: 0; /* Top Right Bottom Left */
	padding: 10px 10px 10px 260px;
	border: none;
	background-color: #eee;
	width: 100%;
	height: 100%;
}

.site-space .page {
	margin: 0 0 10px 0; /* Top Right Bottom Left */
	border-radius: 3px;
	background-color: white;
	width: 100%;
	padding: 30px 20px 20px 20px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
}

.site-space .page.head {
	background-color: #fb0;
	padding-top: 20px;
	color: #232323;
}

.site-space .page.head h1 { padding: 0; }


.site-space .page.record {
	padding-left: 0;
	padding-right: 0;
}

.site-space .page.record.ondemand { display: none; }

.site-space .page header h1 {
	margin: auto;
}

.site-space .page .container {
	margin: auto;
	width: 25%;
}

.site-space .page .container button {
	margin: 5px;
}

.page form label,
.page form input[type="text"],
.page form select,
.page .container input[type="text"] {
	margin: 5px 0;
	display: block;
	width: 100%;
	padding: 10px 10px;
	text-align: center;
}

input[type="checkbox"] {
	vertical-align: middle;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

input[type="checkbox"]:hover { background-color: #808080; }
input[type="checkbox"]:checked { background-color: #fb0; }

/*------- Page Content End Here  ---------*/

/*------- Table Styling Start Here ---------*/

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}
  
table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 3px;
}

table tbody tr:hover {
	background-color: white;
}
  
table th,
table td {
	padding: 10px;
	text-align: center;
}
  
table th {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*------- Table Styling End Here ---------*/

/*------- Screen Setting Start Here ---------*/

@media screen and (max-width: 1600px) {
	.page-login .container { width: 35%; }
	form.login-form .row { width: 45%; }
}

@media screen and (max-width: 1400px) {
	form.login-form .row { width: 50%; }
}

@media screen and (max-width: 1200px) {
	.page-login .container { width: 45%; }
}

@media screen and (max-width: 800px) {
	.page-login .container { width: 55%; }
}

@media screen and (max-width: 600px) {
	.page-login .container { width: 70%; }
	form.login-form .row { width: 60%; }
}

/*------- Screen Setting End Here ---------*/